@media (min-width: 768px) {
  .container-box {
    width: 720px;
    max-width: 100%;
  }
  .all {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container-box {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container-box {
    width: 1140px;
    max-width: 100%;
  }
  .all{ 
    max-width:100%; 
    margin-left:auto;
    margin-right:auto;
    padding:40px 20px; 
  }
}
.about-bg img{
   width:100%;
   display:block;
   position:relative; 
}
.about-bg a{
  position:absolute;
  color:#fff;
  background-color:black;
  text-decoration:none;
  text-align: center;  
}
.about-bg h1{
  position:absolute;
  color:#fff;
  text-align: center; 
  text-transform: uppercase; 
}
/*course-details*/
.kyb-course-details h1{
  text-align: center;
  color:#fff;
  position:absolute;
  z-index:2;  
}
.content h3{
  color:red; 
}
.all{
  background-color:black;
  opacity:0.9; 
  text-align: center;
  font-family:'arial';  
}
.all:after{
    content:"";
    clear:both;
    display:table;  
}
.content b{
  display:inline-block; 
  color:#fff;
}
.content span{
  color:#fff; 
}
.comments h5{
  text-align: left;
  color:#fff;  
  position:absolute;
  font-family:'arial'; 
}
.rg-btn a{
  position:absolute;
  color:black;
  text-decoration:none;
  background-color:#fff;
  text-align: center;
  border-radius:8px;
  font-family: 'Lobster', cursive;
  font-weight:700px;   
}
/* eo course-details*/
/*links*/
@media(min-width:768px ){
 .about-bg a{
  font-size:24px;
  width:146px;
  padding:8px 0;  
  top:640px;
  left:600px;
  border-radius:12px;   
}
.about-bg h1{
 font-size:34px; 
 top:200px;
 left:175px;
}
.kyb-course-details h1{
    top:260px;
    z-index:2;  
    left:550px;
}
.content{
  float:left;
  width:33.33%;
}
.left{
  border-left:solid 1px #fff; 
}
.all{
  width:1000px;
  margin-left:178px;
  margin-top:250px; 
  top:0;
  padding-top:40px;
  padding-bottom:170px;
  position:absolute;
}
.comments h5{
  width:650px;
  font-size:12px;
  top:460px;
  left:368px; 
}
.rg-btn a{
  top:280px; 
  left:430px; 
  width:110px;
  padding:10px 12px;
  border-radius:8px;
  font-size:16px;     
}
a.powered{
  float:right; 
}
}
@media(max-width:767px ){
.about-bg img{
   width:100%;
   display:block;
   position:relative;
   margin-top:100px;  
}
.about-bg h1{
 font-size:20px; 
 top:310px;
 z-index:2;
 left:54px;
}
.about-bg a{
  font-size:14px;
  width:80px;
  border-radius:4px;
  padding:4px 0;  
  top:250px;
  left:100px;   
}
.kyb-course-details h1{
    top:100px;
    z-index:2;  
    left:100px;
}
.all{
  margin-top:0px; 
  top:0;
  padding-top:130px;
  padding-bottom:160px;
  margin-right:20px;
  margin-left:20px;  
}
.content{
  border-bottom:solid 1px #fff;  
  padding-bottom:20px;
  float:left;
  width:100%;  
}
.content h3{
  font-size:16px; 
}
.content h4 b{
  font-size:12px; 
}
.ab{
  margin-top:-60px; 
  padding-top:30px; 
}
.comments h5{
  width:250px;
  font-size:10px;
  top:790px;
  left:30px; 
  text-align:justify;
}
.about-bg a{
  display:none; 
}
.rg-btn a{
  top:600px; 
  left:85px; 
  width:110px;
  padding:10px 12px;
  border-radius:8px; 
  margin-bottom:20px; 
  font-size:16px;       
}
}
@media(min-width: 768px) and (max-width: 991px){
.about-bg a{
  font-size:24px;
  width:146px;
  padding:8px 0;  
  top:640px;
  left:600px;
  border-radius:12px;   
}
.about-bg h1{
 font-size:34px; 
 top:150px;
 left:5px;
}
.content{
  float:left;
  width:33.33%;
}
.left{
  border-left:solid 1px #fff; 
}
.all{
  width:760px;
  margin-left:0px;
  margin-top:200px; 
  top:0;
  padding-top:40px;
  padding-bottom:134px;
  position:absolute;
}
.footer{
  margin-top:120px; 
}
.comments h5{
  width:560px;
  font-size:10px;
  top:400px;
  left:160px; 
}
.rg-btn a{
  top:250px; 
  left:320px; 
  width:110px;
  padding:10px 12px;
  border-radius:8px;
  font-size:16px;     
}
}
/* eo links*/